.icon > img{
    height: 105px;
    width: 105px;
}
.stripe{
    height: 80px;
    width: 200%;
}

.body{
    background-color: #e6e6e6;
}


.circle {
    border: solid 5px #F0F0F0;
    border-radius: 50%;
    color: white;
    font-family: "Anton";
    height: 105px;
    width: 105px;
    text-align: center;
    vertical-align: center;
    line-height: 95px;
    display: inline-block;
}
.smCircle {
    border-radius: 50%;
    color: black;
    font-family: "Anton";
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: center;
    line-height: 18px;
    display: inline-block;
    font-size: 10px;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #eb9d3a;
}

.green {
    background-color: #7cb06c;
}

.blue {
    background-color: #00aba9;
}

.anton {
    font-family: "Anton";
}

.abel{
    font-family: "Abel";
}

.twitter{
    color: dodgerblue;
    font-size: 40px;
}